<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title></title>
</head>

<body>
  <table style="border-collapse: collapse;border-spacing: 0;width: 100%;background-color: #f6f6f6">
    <tbody>
      <tr>
        <td align="center" style="padding-top: 20px;vertical-align: middle">
          <table
            style="max-width: 600px;border-collapse: collapse;border-spacing: 0;Margin-right: auto;Margin-left: auto; box-shadow: 1px 1px 5px #ccc;table-layout: fixed;">
            <tbody>
              <tr>
                <td style="padding: 0;vertical-align: middle;text-align: left">
                  <table
                    style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;background-color: #fff;">
                    <tbody>
                      <tr>
                        <td style="padding: 0;vertical-align: middle">
                          <table style="border-collapse: collapse;border-spacing: 0;table-layout: fixed;width: 100%;">
                            <tbody>
                              <tr>
                                <td
                                  style="padding: 20px 30px; background-color: #f8982a; color: #fff; text-align:center; font-size: 32px; font-weight: bold ">
                                  {{projectName}} </td>
                              </tr>
                              <tr>
                                <td
                                  style="padding: 40px 40px 20px 40px ;vertical-align: middle;word-break: break-word;word-wrap: break-word; font-family: Helvetica, Arial, sans-serif; line-height: 1.5; font-size: 14px;">
                                  <p>Мы получили запрос на сброс вашего пароля.</p>
                                  <p>Если вы хотите сбросить пароль, нажмите на ссылку ниже: </p>
                                  <p><a href="{{passwordResetLink}}" target="_blank">УСТАНОВИТЬ НОВЫЙ ПАРОЛЬ</a></p>
                                  <p>Данная ссылка действует 60 минут.</p>
                                  <p><b>Внимание.</b> Если вы не посылали заявку на сброс пароля, пожалуйста,
                                    игнорируйте это письмо и пользуйтесь старым паролем. </p>
                                  <p> ---<br> С уважением,<br> Олег Трубин.</p>
                                  <p style="clear: both;">&nbsp;</p>
                                </td>
                              </tr>
                              <tr>
                                <td
                                  style="font-family: Helvetica, Arial, sans-serif; color: #aaaaaa; padding: 20px 50px; font-size: 12px; border-top: 1px dotted #dddddd">
                                  ИП Трубин Олег Владимирович, ИНН 290500021932, ОГРНИП 313290410700012, Адрес: 165650,
                                  Россия, г.Коряжма, ул. Архангельская, д.33</td>
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>